* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  display: none;
}
.hidden {
  visibility: hidden;
}

body {
  background-image: url(/images/bg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.fas {
  font-size: 2rem;
  color: #05386b;
  padding: 0.5rem;
  margin-top: 12%;
}
.icon-wrapper {
  height: 100%;
  width: 4rem;
  text-align: center;
  cursor: pointer;
}

#logo,
.logo {
  font-family: 'Ultra', serif;
  font-size: 3.5rem;
  color: #379683;
}

.landing-page-container,
.page-ptng {
  max-width: 33rem;
  height: auto;
  margin: auto;
  margin-top: 1.5vh;
  padding: 2rem 4rem;
  text-align: center;
}

.app-desc-CTA-wrapper {
  width: 100%;
}

.button {
  background-color: #05386b;
  width: 100%;
  padding: 20px 0;
  color: #edf5e1;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}

.input-field {
  width: 100%;
  position: relative;
}
.search-input {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  border: 1px solid #8ee4af;
}
.arrow-icon {
  margin: 9px auto 0 auto;
  height: 33px;
  width: 33px;
}
.arrow-icon-wrapper {
  position: absolute;
  height: 50px;
  width: 3rem;
  right: 7px;
  top: 5px;
}

.city-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #05386b;
  margin-bottom: 2rem;
}

.date {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.city {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.city-mini {
  font-size: 1.2rem;
}

.temp-wrapper {
  font-size: 5rem;
  font-weight: 900;
}

.temp-wrapper-mini {
  font-size: 3rem;
  font-weight: 900;
}

.weather-card,
.prev-weather-card {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #05386b;
  width: 25rem;
  margin: auto;
}

.recent-search-result {
  width: 25%;
}

.prev-weather-card {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
}

.cancel {
  cursor: pointer;
  margin-top: -2px;
  width: 40px;
  height: 40px;
}

figure {
  display: flex;
  height: 7rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.weather-icon {
  height: 60px;
  width: 60px;
}
.weather-icon-mini {
  height: 60px;
  width: 60px;
}

.weather-desc,
.weather-desc-mini {
  font-size: 1.2rem;
}

.empty-input-error-msg {
  color: #ff1505;
  margin-top: 0.5rem;
}

.flexer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.previous-search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 2rem;
}

.previous-search {
  padding-top: 3px;
  width: 80%;
  margin: 3rem auto 0;
  color: #05386b;
  border-top: 1.5px solid;
}

.previous-search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #8ee4af;
}

.previous-search-header span {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #05386b;
  border-radius: 3px;
  width: fit-content;
  padding: 4px;
}

.header {
  line-height: 1.4rem;
  width: 100%;
  color: rgb(19, 18, 18);
  background-color: #379683;
  padding: 0.5rem 1.2rem;
  text-align: center;
}

.header-logo {
  color: whitesmoke;
}

.app-name {
  color: black;
  font-size: 1rem;
}

.message {
  margin: 2rem auto 0 auto;
}

.loader-container {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 0 auto;
}

.circle1,
.circle2,
.circle3 {
  background: #05386b;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.circle1 {
  animation: circle1 0.5s infinite;
}
.circle2 {
  animation: circle2 0.5s infinite;
}
.circle3 {
  animation: circle3 0.5s infinite;
}

@keyframes circle1 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle2 {
  30% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle3 {
  60% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1190px) {
  .recent-search-result {
    width: 30%;
  }
}
@media only screen and (max-width: 850px) {
  .city-mini {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 650px) {
  .city-mini {
    font-size: 1rem;
  }

  .prev-weather-card {
    height: 13rem;
  }

  .weather-icon-mini {
    height: 40px;
    width: 40px;
  }

  .temp-wrapper-mini {
    font-size: 2rem;
    font-weight: 900;
  }

  .weather-desc-mini {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 540px) {
  .fas {
    font-size: 1.5rem;
    margin-top: auto;
  }

  .current {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 1rem;
    width: 60%;
    margin-top: 1rem;
  }

  figure {
    height: 6rem;
  }
  .temp-wrapper {
    font-size: 3rem;
    font-weight: 900;
  }
  .icon-wrapper {
    width: auto;
  }
  #logo,
  .logo {
    font-size: 2rem;
  }
  .button {
    margin-top: 3rem;
  }
  .form {
    margin-top: 10vh;
    width: 63%;
  }
  .search-input {
    margin-top: 0;
  }
  .arrow-icon {
    margin: 13px auto 0 10px;
    height: 25px;
    width: 25px;
  }
  .arrow-icon-wrapper {
    right: 7px;
    top: 4.7px;
  }

  .weather-icon {
    height: 60px;
    width: 60px;
  }
  .weather-icon-mini {
    height: 40px;
    width: 40px;
  }

  .temp-wrapper-mini {
    font-size: 2rem;
    font-weight: 900;
  }

  .city-mini {
    font-size: 90%;
  }

  .weather-card {
    width: 80%;
  }

  .recent-search-result {
    width: 50%;
  }

  .prev-weather-card {
    height: 10.7rem;
  }

  .landing-page-container {
    margin-top: 3vh;
  }

  .weather-desc-mini {
    font-size: 90%;
  }
}

@media only screen and (max-width: 360px) {
  .prev-weather-card {
    height: 11.5rem;
  }

  .previous-search-header {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 320px) {
  .prev-weather-card {
    height: 12.5rem;
  }
  .city-mini {
    font-size: 80%;
  }
}
